*.swp
*.*.swp
logs
project/project
project/target
public/images
target
tmp
.history
dist
/.idea
/*.iml
/out
/LICENSE
/activator
/activator-launch-1.2.10.jar
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
